body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    margin: 0;
}

.options {
    display: flex;
    flex-direction: row;
}

.options > input {
    padding: 5px 10px;
}

.options > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.options > ul > li {
    margin: 0 10px;
}

.options > ul > li > button {
    padding: 5px 10px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {
    color: rgb(184, 184, 184);
    text-shadow: 1px 1px 5px black;
    text-transform: uppercase;
    letter-spacing: .5em;
    text-align: center;
    user-select: none;
}

header > a {
    display: flex;
    height: fit-content;
    padding: 10px;
    color: rgb(95, 95, 95);
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 20px;
}

header > a:hover {
    background-color: black;
}

main {
    background-color: gainsboro;
    padding: 10px;
    box-shadow: 1px 1px 5px black;
}

.login-input {
    background-color: gainsboro;
}

.login-input > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.login-input > ul > li
{
    display: flex;
    flex-grow: 1;
}

.login-input > ul > li > * 
{
    display: flex;
    flex-grow: 1;
    justify-content: center;
}